<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.arinzedroid.finny">

    <application
        android:name=".Finny"
        android:allowBackup="true"
        android:icon="@mipmap/finny_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/finny_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".activities.SignInActivity" />
        <activity
            android:theme="@style/AppTheme.SplashTheme"
            android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>